.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: left;
    line-height: 60px;
  }
  
  .el-aside {
    color: #333;
    text-align: left;
    line-height: 200px;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 100%;
  }
  
  body > .el-container {
    margin-bottom: 0;
    height: 100%;
  }
  
  


#app, html,body, .el-container {
    margin: 0;
    padding: 0;
    height: 100%;
}


.header {
  background-color: #409EFF;
  color: #fff;
  line-height: 60px;
}

.el-aside {
    min-height: 100%;
}
.el-menu {
    height: 100%;
}
#id {
    margin: 0;
    padding: 0;
}

.echarts {
  width: 100%;
  height: 100%;
}